# UI
github "SVProgressHUD/SVProgressHUD"
github "linkedin/LayoutKit"

# Promise
github "mxcl/PromiseKit" ~> 6.8

# Testing
github "vadymmarkov/Fakery"
github "AliSoftware/OHHTTPStubs"

# Testing - Objc
github "specta/expecta" "master"
github "erikdoe/ocmock"
