# UI
github "SVProgressHUD/SVProgressHUD"
github "linkedin/LayoutKit"

# Promise
github "mxcl/PromiseKit" ~> 6.8

# Testing
github "vadymmarkov/Fakery"
github "AliSoftware/OHHTTPStubs"

# Testing - Objc
github "specta/expecta" "master"
github "erikdoe/ocmock"

# Firebase
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAuthBinary.json" == 8.15.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDatabaseBinary.json" == 8.15.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseStorageBinary.json" == 8.15.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json" == 8.15.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json" == 8.15.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json" == 8.15.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" == 8.15.0